{% extends 'templates/header.html.twig' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="/public/css/navbar.css" />
  <link rel="stylesheet" href="/public/css/accueil.css" />
{% endblock %}
{% block body %}
  <body>
    <form id="searchForm" action="/traitement_search" method="post">
      <input type="text" id="search" name="search" placeholder="Name" required />
      <div id="searchResults"></div>
      <input type="submit" value="Envoyer" />
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/public/js/search.js"></script>

    <table>
      <thead>
        <tr>
          <th colspan="2">The Properties Table</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Title</td>
          <td>Description</td>
          <td>Image</td>
          <td>Price</td>
          <td>Location</td>
          <td>City</td>
          <td>favoris</td>
        </tr>
        {% for property in properties %}
          <tr>
            <td>{{ property.Title }}</td>
            <td>{{ property.Description }}</td>
            <td>
              <a href="/property/{{ property.ID }}"><img src="/public/images/{{ property.Image }}" alt="Property Image" width="100" /></a>
            </td>
            <td>{{ property.Price }}</td>
            <td>{{ property.Location }}</td>
            <td>{{ property.City }}</td>
            {% if propertyIsFavorite %}
              <form action="/revokeFavorite" method="post">
                <input type="hidden" name="ID" value="{{ ID }}" />
                <button type="submit">Retirer des favoris</button>
              </form>
            {% else %}
              <form action="/favorite" method="post">
                <input type="hidden" name="ID" value="{{ ID }}" />
                <button type="submit">Ajouter aux favoris</button>
              </form>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
{% endblock %}
