{% extends 'templates/header.html.twig' %}
{% block title %}
  {{ Title }}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="/public/css/navbar.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
{% endblock %}
{% block body %}
  <body>
    <h1>{{ property['Title'] }}</h1>
    <p>Title: {{ property['Title'] }}</p>
    <p>Description: {{ property['Description'] }}</p>
    <img src="/public/images/{{ property['Image'] }}" width="50px" />
    <p>Price: {{ property['Price'] }}€</p>
    <p>Location: {{ property['Location'] }}</p>
    <p>City: {{ property['City'] }}</p>
    <p>Type de logement: {{ property['LodgingType'] }}</p>
    <p>
      Équipements:{% for equipmentType in property['EquipmentTypes']|split(',') %}
        {{ equipmentType }},
      {% endfor %}
    </p>
    <p>
      Services:{% for serviceType in property['ServiceTypes']|split(',') %}
        {{ serviceType }},
      {% endfor %}
    </p>
    {% if connected %}
      <form action="/publishReview" method="post">
        <input type="hidden" name="propertyId" value="{{ ID }}" />
        <input type="text" id="Title" name="Title" placeholder="Title" required /><br />
        <input type="text" id="Comment" name="Comment" placeholder="Comment" required /><br />
        <input type="range" id="Rating" name="Rating" placeholder="Rating" required step="1" min="0" max="5" /><br />
        <button type="submit">envoyer</button>
      </form>
      <form action="/order" method="post">
        <input type="hidden" name="propertyId" value="{{ ID }}" />
        <input type="date" id="startDate" name="startDate" placeholder="startDate" required min="{{ 'now'|date('Y-m-d') }}" /><br />
        <input type="date" id="endDate" name="endDate" placeholder="endDate" required min="{{ 'now'|date('Y-m-d') }}" /><br />
        <button type="submit">envoyer</button>
      </form>
      <div id="errorPopup" style="display: none;">
        <div>
          <p id="errorMessage"></p>
          <button onclick="closePopup()">Fermer</button>
        </div>
      </div>
      {% if propertyIsFavorite %}
        <p>Cette propriété est dans vos favoris.</p>
        <form action="/revokeFavorite" method="post" id="revokeFavorite">
          <input type="hidden" name="ID" value="{{ ID }}" />
          <button type="submit">Retirer des favoris</button>
        </form>
      {% else %}
        <p>Cette propriété n'est pas dans vos favoris.</p>
        <form action="/favorite" method="post" id="favorite">
          <input type="hidden" name="ID" value="{{ ID }}" />
          <button type="submit">Ajouter aux favoris</button>
        </form>
      {% endif %}
    {% else %}
      <p>Vous devez être connecté pour l'ajouter aux favoris, mettre un commentaire ou effectuer une reservation</p>
    {% endif %}
    <script></script>
  </body>
{% endblock %}
