{% extends 'templates/header.html.twig' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/public/css/navbar.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/user.css" />
{% endblock %}

{% block body %}
  <body>
    <div class="container">
      <form action="/updateProperty" method="post">
        <input type="hidden" name="propertyId" value="{{ property.ID }}" />
        <label for="title">Titre:</label><br />
        <input type="text" id="title" name="title" placeholder="Titre" value="{{ property.Title }}" required /><br />
        <label for="description">Description:</label><br />
        <input id="description" name="description" placeholder="Description" required value="{{ property.Description }}" /><br />
        <label for="image">URL de l'image:</label><br />
        <input type="text" id="image" name="image" placeholder="URL de l'image" value="{{ property.Image }}" required /><br />
        <label for="price">Prix:</label><br />
        <input type="number" id="price" name="price" placeholder="Prix" value="{{ property.Price }}" required /><br />
        <label for="location">Emplacement:</label><br />
        <input type="text" id="location" name="location" placeholder="Emplacement" value="{{ property.Location }}" required /><br />
        <label for="city">Ville:</label><br />
        <input type="text" id="city" name="city" placeholder="Ville" value="{{ property.City }}" required /><br />

        <select name="lodgingType" required>
          {% for propertyType in propertiesTypes %}
            {% if propertyType.ID == property.LodgingType %}
              <option value="{{ propertyType.ID }}">{{ propertyType.Type }}</option>
            {% else %}
              <option value="{{ propertyType.ID }}">{{ propertyType.Type }}</option>
            {% endif %}
          {% endfor %}
        </select>

        {# <label for="equipment_{{ propertyEquipment.ID }}">Les equipements :</label>
        {% for propertyEquipment in propertiesEquipments %}
          {% if propertyEquipment.ID == property.Equipments %}
            <div>
              <input type="checkbox" id="equipment_{{ propertyEquipment.ID }}" name="equipments[]" value="{{ propertyEquipment.ID }}" checked />
              <label for="equipment_{{ propertyEquipment.ID }}">{{ propertyEquipment.Type }}</label>
            </div>
          {% else %}
            <div>
              <input type="checkbox" id="equipment_{{ propertyEquipment.ID }}" name="equipments[]" value="{{ propertyEquipment.ID }}" />
              <label for="equipment_{{ propertyEquipment.ID }}">{{ propertyEquipment.Type }}</label>
            </div>
          {% endif %}
        {% endfor %}
        <label for="service_{{ propertyService.ID }}">Les services :</label>
        {% for propertyService in propertiesServices %}
          <div>
            <input type="checkbox" id="service_{{ propertyService.ID }}" name="services[]" value="{{ propertyService.ID }}" />
            <label for="service_{{ propertyService.ID }}">{{ propertyService.Type }}</label>
          </div>
        {% endfor %} #}

        <input type="submit" value="Enregistrer les modifications" />
      </form>
    </div>
  </body>
{% endblock %}
