{% extends 'templates/header.html.twig' %}
{% block title %}
  {{ property['Title'] }}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="/public/css/navbar.css" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <!-- Inclure jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Inclure jQuery UI (avec le composant datepicker) -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}
{% block body %}
  <body>
    <div id="reserved-dates" data-reserved-dates="{{ reservedDates|e('html_attr') }}"></div>

    <script>
      var reservedDates = JSON.parse(document.getElementById('reserved-dates').getAttribute('data-reserved-dates'))
      
      function disableReservedDates(date) {
        var currentDate = $.datepicker.formatDate('yy-mm-dd', date)
      
        for (var i = 0; i < reservedDates.length; i++) {
          var startDate = $.datepicker.formatDate('yy-mm-dd', new Date(reservedDates[i].Start))
          var endDate = $.datepicker.formatDate('yy-mm-dd', new Date(reservedDates[i].End))
      
          if (currentDate >= startDate && currentDate <= endDate) {
            return [false]
          }
        }
        return [true]
      }
    </script>
    <h1>{{ property['Title'] }}</h1>
    <p>Title: {{ property['Title'] }}</p>
    <p>Description: {{ property['Description'] }}</p>
    <img src="/public/images/{{ property['Image'] }}" width="50px" />
    <p>Price: {{ property['Price'] }}€</p>
    <p>Location: {{ property['Location'] }}</p>
    <p>City: {{ property['City'] }}</p>
    <p>Type de logement: {{ property['LodgingType'] }}</p>
    <p>
      Équipements:{% for equipmentType in property['EquipmentTypes']|split(',') %}
        {{ equipmentType }},
      {% endfor %}
    </p>
    <p>
      Services:{% for serviceType in property['ServiceTypes']|split(',') %}
        {{ serviceType }},
      {% endfor %}
    </p>
    <div id="calendar"></div>
    <h2>Avis sur ce logement</h2>
    {% if reviews %}
      <ul>
        {% for review in reviews %}
          <li>
            <strong>{{ review['Title'] }}</strong> - {{ review['Comment'] }} ({{ review['Rating'] }}/5)
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Aucun avis pour le moment.</p>
    {% endif %}

    {% if connected %}
      <form action="/order" method="post">
        <input type="hidden" name="propertyId" value="{{ property['ID'] }}" />
        <input type="text" id="startDate" name="startDate" placeholder="startDate" required min="{{ 'now'|date('Y-m-d') }}" /><br />
        <input type="text" id="endDate" name="endDate" placeholder="endDate" required min="{{ 'now'|date('Y-m-d') }}" /><br />
        <button type="submit">envoyer</button>
      </form>
      {% if propertyIsFavorite %}
        <p>Cette propriété est dans vos favoris.</p>
        <form action="/revokeFavorite" method="post" id="revokeFavorite">
          <input type="hidden" name="ID" value="{{ ID }}" />
          <button type="submit">Retirer des favoris</button>
        </form>
      {% else %}
        <p>Cette propriété n'est pas dans vos favoris.</p>
        <form action="/favorite" method="post" id="favorite">
          <input type="hidden" name="ID" value="{{ ID }}" />
          <button type="submit">Ajouter aux favoris</button>
        </form>
      {% endif %}
    {% else %}
      <p>Vous devez être connecté pour l'ajouter aux favoris, mettre un commentaire ou effectuer une reservation</p>
    {% endif %}
    <script>
      $(function () {
        $('#startDate').datepicker({
          dateFormat: 'yy-mm-dd',
          minDate: 0,
          beforeShowDay: disableReservedDates,
          onSelect: function (selectedDate) {
            $('#endDate').datepicker('option', 'minDate', selectedDate)
          }
        })
      
        $('#endDate').datepicker({
          dateFormat: 'yy-mm-dd',
          minDate: 0,
          beforeShowDay: disableReservedDates
        })
      })
    </script>
  </body>
{% endblock %}
